@mixin clearfix {
  &::after {
    content: ""; //if not defined then this element will not show on the page - it is empty because we don't want to see it on the page
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}