*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  /*
      default is 16px
      we want 10 px

      100    => 16
      x       => 10

      x= 1000 / 16 = 62.5 percentage this will allow user to zoom and increase all sizes as wanted
  */
  //1 rem = 10px; 10px/16px = 62.5%
  font-size: 62.5%; /* 1 rem = 10px since this is the root element */

  // the order is matter here for tab-land and tab-port
  // the rule here Always the larger ones before the smaller ones.

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  //@include respond(phone) { // width < 600
  //  font-size: 30%; // 1rem = 4.8 // not needed just redundant as tab-port will applied always
  //}

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
}
